body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}